.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.modal-body {
    width: 40%;
    height: 10rem;
    background: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    animation: show 0.8s;
}

.modal-box h3 {
    color: #222;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-group {
    margin-top: 3rem;
}

@keyframes show {
    from {
        top: -100px;
    }
    to {
        transform: translate(-50%, -50%);
    }
}