.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.modal-box {
    width: 40%;
    height: 17rem;
    background: #fff;
    position: absolute;
    top: 37%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    animation-name: show;
    animation-duration: 0.8s;
}

.modal-box h3 {
    color: #222;
    text-align: left;
}
.modal-box .input {
    width: 100%;
    margin: 0.5rem 0;
}
.modal-box .input input {
    width: 80%;
    height: 2rem;
    border: 1px solid rgb(209, 203, 203);
    border-radius: 5px;
    padding: 20px;
    margin: 2rem 0;
}
.modal-box .input input:focus {
    border-color: #84a8f7;
    box-shadow: 1px 0 1px 0 #84a8f7;
}

@keyframes show {
    from {
        top: -100px;
    }
    to {
        transform: translate(-50%, -50%);
    }
}