.app {
  width: 40%;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.logo img {
  width: 100px;
}

.logo h3 {
  color: #21364C;
}

.todo {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.todo img {
  width: 100px;
}

.todo h3 {
  color: #21364C;
}